@use '../../scss/main';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2rem;
}

.title {
  @include main.title;
}

.image {
  width: 60rem;

  img {
    border-radius: 0.8rem;
    width: 100%;

    transition: 0.2s ease-in-out;

    &:hover {
      border-radius: 0.4rem;
      transform: translateY(-2px) scale(103%);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__description {
    color: main.$trout_800;

    font-size: 1.7rem;
    font-weight: main.$fw_medium;
    font-family: main.$font_poppins;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }
}
