@use '../../../../scss/main';

.list__menu_items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;

  width: 100%;
}

// TODO: ==> Styles of Component ListItem
.list_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 72%;

  padding: 1.3rem;

  border-radius: 0.8rem;

  transition: 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: main.$caper_200;
  }

  @media (max-width: main.$desktop_xs) {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    max-width: 24rem;

    @media (max-width: main.$desktop_xs) {
      width: 100%;
    }

    img {
      border-radius: 0.8rem;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 2rem;

    @media (max-width: main.$desktop_xs) {
      flex-direction: row;
      text-align: center;
      margin-top: 2rem;
      padding: 0;
    }
  }

  &__title {
    h2 {
      font-size: 2rem;
      font-weight: main.$fw_bold;
      font-family: main.$font_italiana;
      margin-bottom: 2rem;
    }

    p {
      color: main.$trout_400;
      font-size: 1.55rem;
      font-weight: main.$fw_medium;
      max-width: 60rem;
      margin-bottom: 2rem;
    }
  }
}
