@use '../../scss/main';

// TODO: Styles from page Home

.home__title {
  @include main.title;
  margin-bottom: 3rem;
}

.home_recommended {
  margin-bottom: 3rem;
}

.our_home {
  margin-bottom: 10rem;
  position: relative;
  width: 100%;

  img {
    border-radius: 0.5rem;
    width: 100%;
  }

  &__address {
    background-color: main.$trout_950;
    color: main.$trout_50;

    border-radius: 0.5rem;
    bottom: -4.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    font-weight: main.$fw_bold;
    font-size: 1.25rem;

    height: 10rem;
    width: 20rem;

    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
  }
}
