@use '../../../../scss/main.scss';

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: main.$caper_200;

  border: 0.2rem solid transparent;
  border-radius: 2.5rem;
  gap: 1.8rem;

  padding: 0 1.5rem;

  height: 4.2rem;
  width: 40rem;

  transition: all 0.3s ease-in-out;

  @media (max-width: main.$mobile) {
    width: 100%;
  }

  &:hover {
    border-radius: 1rem;
    border-color: main.$caper_700;
  }

  input {
    background-color: main.$caper_200;
    color: main.$caper_600;

    border: none;
    outline: none;

    font-size: 1.5rem;
    font-weight: main.$fw_semibold;
    font-family: main.$font_poppins;

    width: 100%;

    &::placeholder {
      color: main.$caper_700;
    }
  }
}
