@use '../../../../scss/main';

.ordering {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: main.$caper_200;
  color: main.$caper_700;

  border: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;

  font-size: 1.45rem;
  font-weight: main.$fw_bold;
  font-family: main.$font_poppins;

  height: 4rem;
  min-width: 24rem;
  padding: 0 4rem;

  position: relative;

  cursor: pointer;

  &--active {
    background-color: main.$caper_300;
    color: main.$caper_700;
  }

  &__options {
    display: none;

    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    flex-direction: column;

    &--active {
      display: flex;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: main.$caper_100;
    color: main.$caper_700;

    border-top: 0.2rem solid main.$caper_200;
    width: inherit;
    height: 4rem;

    &:hover,
    &--active {
      background-color: main.$caper_200;
      color: main.$caper_600;
      cursor: pointer;
    }
  }
}
