@use '../../scss/main';

.menu {
  &__title {
    @include main.title;
    margin-bottom: 3rem;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    width: 100%;
  }
}
